-# coding: UTF-8

%div.row
  %div.leaderboard.span12
    %h1 Ekip Sizi Çağırıyor! 
    %div.span6
      %img(src="/ekip.jpg")
    %div.span5
      %h3 Yapılası İşler
      %ul
        %li Hakkında sayfası yazılacak
        %li İstekler sayfası konabilir
        %li İletişim sayfası yapılacak         

%hr