-# coding: UTF-8

%div.row
  %div.leaderboard.span12
    %h1 Ekip Sizi Çağırıyor! 
    %div.span6
      %img(src="/ekip.jpg")
    %div.span5
      %h3 Yapılası İşler
      %ul
        %li Hakkında sayfası yazılacak
        %li İstekler sayfası konabilir
        %li İletişim sayfası yapılacak         

%hr

#disqus_thread
%script(type="text/javascript" async="true" src="http://ruby-tr.disqus.com/embed.js")
  
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
