-# coding: UTF-8

%script(type="text/javascript") 
  window.location = 
  - case isim
    - when "umitka"
      "mailto:ujk7107@gmail.com"
    - when "hazal"
      "mailto:niyaziates77@gmail.com"
    - when "cris"
      "mailto:chris@pine.fm"
    - when "ftastemur"
      "mailto:ftastemur@gmail.com"
    - when "1zinnur9"
      "mailto:zinnuryesilyurt@gmail.com"
    - when "zombiebit"
      "mailto:enderyurt@gmail.com"
  ;
  parent.history.back();
  
  
