%script(src="/assets/js/jquery.js")
%script(src="/assets/js/bootstrap-collapse.js")
.accordion.btn-inverse(id="accordion2")
  .accordion-group
    .accordion-heading
      %h4
        %a.accordion-toggle(data-toggle="collapse" data-parent="#accordion2" href="#merhaba") Merhaba
    .accordion-body.collapse(id="merhaba")
      .accordion-inner 
        %h3 
          %a(href="/kitap/201")Merhaba
        %ul.nav.nav-tabs
          %li
            %a(href="/kitap/202")Giriş
          %li
            %a(href="/kitap/203")Kurulum
          %li
            %a(href="/kitap/204")Kurallar
  .accordion-group
    .accordion-heading
      %h4
        %a.accordion-toggle(data-toggle="collapse" data-parent="#accordion2" href="#shoes") Shoes
    .accordion-body.collapse(id="shoes")
      .accordion-inner 
        %h3 
          %a(href="/kitap/205")Shoes
        %ul.nav.nav-tabs
          %li
            %a(href="/kitap/206")Dahili Metodlar
          %li
            %a(href="/kitap/207")App
          %li
            %a(href="/kitap/208")Stiller
          %li
            %a(href="/kitap/209")Sınıflar
          %li
            %a(href="/kitap/210")Renkler
  .accordion-group
    .accordion-heading
      %h4
        %a.accordion-toggle(data-toggle="collapse" data-parent="#accordion2" href="#slotlar") Slotlar
    .accordion-body.collapse(id="slotlar")
      .accordion-inner
        %h3 
          %a(href="/kitap/211")Slotlar
        %ul.nav.nav-tabs
          %li
            %a(href="/kitap/212")Çizim
          %li
            %a(href="/kitap/213")Eleman
          %li
            %a(href="/kitap/214")Olaylar
          %li
            %a(href="/kitap/215")Manipulasyon
          %li
            %a(href="/kitap/216")Yerleşim
          %li
            %a(href="/kitap/217")Alt Üst
  .accordion-group
    .accordion-heading
      %h4
        %a.accordion-toggle(data-toggle="collapse" data-parent="#accordion2" href="#elemanlar") Elemanlarar
    .accordion-body.collapse(id="elemanlar")
      .accordion-inner
        %h3 
          %a(href="/kitap/218")Elemanlar
        %ul.nav.nav-tabs
          %li
            %a(href="/kitap/219")Ortak Metodlar
          %li
            %a(href="/kitap/220")Background
          %li
            %a(href="/kitap/221")Border
          %li
            %a(href="/kitap/222")Button
          %li
            %a(href="/kitap/223")Check
          %li
            %a(href="/kitap/224")EditBox
          %li
            %a(href="/kitap/225")EditLine
          %li
            %a(href="/kitap/226")Image
          %li
            %a(href="/kitap/227")ListBox
          %li
            %a(href="/kitap/228")Progress
          %li
            %a(href="/kitap/229")Radio
          %li
            %a(href="/kitap/230")Shape
          %li
            %a(href="/kitap/231")TextBlock
          %li
            %a(href="/kitap/232")Timer
          %li
            %a(href="/kitap/233")Video
  .accordion-group
    .accordion-heading
      %h4
        %a.accordion-toggle(data-toggle="collapse" data-parent="#accordion2" href="#vedahasi") VeDahası
    .accordion-body.collapse(id="vedahasi")
      .accordion-inner
        %h3 
          %a(href="/kitap/234") VeDahası
        %ul.nav.nav-tabs
          %li
            %a(href="/kitap/235") Örnek
          %li
            %a(href="/kitap/236") FAQ
          %li
            %a(href="/kitap/237") RedShoes Karşılaştırması
          %li
            %a(href="/kitap/238") gshoes
