-# coding: UTF-8

%div.row
  %div.span8
    %div.leaderboard
      %h1 Ruby Programlama Dili 
      %h2 Kod Örnekleri Sayfamıza Hoşgeldiniz
  %div.span4
    
    %img(src="http://html-git.heroku.com/ruby_tr_logo_22.png" alt="Ruby Logo" width="400" height="100")

%div.row
  %div.span12
    %p
      :coderay 
        #!ruby
        
        def ilk_metod
          puts "Merhaba Dünya"
        end
%div.row
  %div.span4
    %h3 İçindekiler
    %ul
      %li 
        %a(href="/kitap/102")Sayılar
      %li 
        %a(href="/kitap/102")Harfler
      %li 
        %a(href="/kitap/102")Değişkenler ve Atamalar
      %li 
        %a(href="/kitap/102")Genel Tekrar
      %li 
        %a(href="/kitap/102")Metotlar
      %li 
        %a(href="/kitap/102")Akış Kontrol
      %li 
        %a(href="/kitap/102")Diziler ve Tekrarlayıcılar
      %li 
        %a(href="/kitap/102")Kendi Metotlarımızı Yazalım
      %li 
        %a(href="/kitap/102")Sınıflar (Classes)
      %li 
        %a(href="/kitap/102")Bloklar ve Procs	
%h3 
  %a(title="Bize Katılın" href="/bize_katilin") Bize Katılın
%hr