%h1 Arama Sonuçları
%table
  %tr
    %td(width="120")
      %h3 Kelime :
    %td
      = @kelime
  %tr
    %td
      %h3 Başlangıç :
    %td
      = @start
  %tr
    %td
      %h3 Son :
    %td
      = @end
%hr