-# coding: UTF-8

%div.row
  %div.leaderboard
    %h1 Ruby Kod Örnekleri 
    %p
      Bu bölümde küçük algoritma örneklerinin Ruby Programlama dili ile kodlanmasını bulabilirsiniz.

%br

%div.row
  %div.span4
    %h3 İçindekiler
    %ul
      %li 
        %a(href="/kitap/102")Sayılar
      %li 
        %a(href="/kitap/102")Harfler
      %li 
        %a(href="/kitap/102")Değişkenler ve Atamalar
      %li 
        %a(href="/kitap/102")Genel Tekrar
      %li 
        %a(href="/kitap/102")Metotlar
      %li 
        %a(href="/kitap/102")Akış Kontrol
      %li 
        %a(href="/kitap/102")Diziler ve Tekrarlayıcılar
      %li 
        %a(href="/kitap/102")Kendi Metotlarımızı Yazalım
      %li 
        %a(href="/kitap/102")Sınıflar (Classes)
      %li 
        %a(href="/kitap/102")Bloklar ve Procs
      
  
%br


%hr

#disqus_thread
%script(type="text/javascript" async="true" src="http://ruby-tr.disqus.com/embed.js")
  
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
