-# coding: UTF-8

%div.row
  %div.leaderboard
    %h1 Green Shoes El Kitabı 
    %h4 Çeviren : Ümit Kayacık

%br

%div.row
  %div.span10
    %h1 Merhaba
    %h3
      Shoes minik bir grafik araç kiti. Oldukça basit ve kolay. Shoes kolay olmak 
      için doğdu! Gerçekten, yeni başlayan yazılımcılar için yapıldı. Hiç bir zor 
      yanı yok. Green Shoes ise değişik renklerdeki Shoes'un biri. Tamamıyla 
      Ruby ve Ruby/GTK2 ile yapıldı.
  %div.span2
    %form.form-search(action='/k_search' method='GET')
      %input(type="hidden" name="start" value="201")
      %input(type="hidden" name="end" value="238")
      %input.search-query(type="text" name="search_str" style="width: 70px;" placeholder="Ara")
      %button.btn(type="submit")
        %i.icon-search
    = haml :gs_sidebar
%div.row
  %div.span12
    %hr
    %br
    %p 
      Gördüğünüz gibi bir 
      %b Shoes 
      programı tek satır olabilir:
    %br
    
    :coderay
      #!Ruby
      Shoes.app{button("Click me!"){alert("Good job.")}}
    %br
    
    %p
      Shoes programları 
      %b Ruby 
      adı verilen bir programlama diliyle yazılmıştır. Ruby bu tek satır kodu 
      işlediğinde üzerinde bir buton olan bir pencere açılır. Buton üzerinde 
      "Click me!" yazmaktadır. Butona tıklanınca bir popup mesajı çıkar, 
      Windows 7 ekranı şuna benzer:
    %br
    %img.displayed(src="/man-shot1.png")
    %br
    %p 
      Shoes ile yazılmış bir sürü grafik oyun ve sanatsal programlar yanında 
      kolaylıkla yazı işleyen veya değiştiren programlar yazılabilir.
    %br
    
    %img.displayed(src="/shoes-manual-apps.png")
    %br
    
    %p
      Ve idealde Shoes programları yaygın birçok platformda çalışırlar. Windows, 
      Mac OSX, Linux vb.
    %p
      Böylece, Shoes el kitabına giriş yaptınız. Bu manualin orjinali de bir Green Shoes 
      programıdır!
    %hr
    %a.btn.btn-large.btn-success.pull-right(href="/kitap/202") Green Shoes'a Giriş