-# coding: UTF-8

%div.row
  %div.leaderboard
    %h1 Programlamayı Öğrenmek 
    %h4 Çeviren : Niyazi ATEŞ

%br

%div.row
  %div.span12
    %h3 İçindekiler
    %ul
      %li 
        %a(href="/kitap/102")Önsöz
      %li 
        %a(href="/kitap/102")Başlarken
      %li 
        %a(href="/kitap/102")Sayılar
      %li 
        %a(href="/kitap/102")Harfler
      %li 
        %a(href="/kitap/102")Değişkenler ve Atamalar
      %li 
        %a(href="/kitap/102")Genel Tekrar
      %li 
        %a(href="/kitap/102")Metotlar
      %li 
        %a(href="/kitap/102")Akış Kontrol
      %li 
        %a(href="/kitap/102")Diziler ve Tekrarlayıcılar
      %li 
        %a(href="/kitap/102")Kendi Metotlarımızı Yazalım
      %li 
        %a(href="/kitap/102")Sınıflar (Classes)
      %li 
        %a(href="/kitap/102")Bloklar ve Procs
      %li 
        %a(href="/kitap/102")Bu Derslerden Sonrası…
       
     
    %br
    
    %h3
      %a.btn.btn-success.btn-large.pull-right(href="/kitap/102") Önsöz >