-# coding: UTF-8

%div.row
  %div.leaderboard
    %h1 Ruby Kitapları 
    %p
      Bu bölümde tercüme ettiğimiz Ruby kitaplarını bulabilirsiniz.

%br

%div.row
  %div.span4
    %h3 İçindekiler
    %ul
      %li 
        %a(href="/kitap/102")Önsöz
      %li 
        %a(href="/kitap/102")Başlarken
      %li 
        %a(href="/kitap/102")Sayılar
      %li 
        %a(href="/kitap/102")Harfler
      %li 
        %a(href="/kitap/102")Değişkenler ve Atamalar
      %li 
        %a(href="/kitap/102")Genel Tekrar
      %li 
        %a(href="/kitap/102")Metotlar
      %li 
        %a(href="/kitap/102")Akış Kontrol
      %li 
        %a(href="/kitap/102")Diziler ve Tekrarlayıcılar
      %li 
        %a(href="/kitap/102")Kendi Metotlarımızı Yazalım
      %li 
        %a(href="/kitap/102")Sınıflar (Classes)
      %li 
        %a(href="/kitap/102")Bloklar ve Procs
      %li 
        %a(href="/kitap/102")Bu Derslerden Sonrası…
    %p
      %a.btn.btn-danger.btn-large(href="/kitap/1") Kitabı Okuyun	
  %div.span4
    %h2 Programlamayı Öğrenmek
    %p 
      Bu bölümde Hazal hocamın tercüme ettiği 
      %a(href="http://pine.fm/LearnToProgram/" target="_blank") Learn To Program by Chris PINE 
      kitabını bulacaksınız. Kitap programlamaya girişi Ruby dili ile anlatmakta.
    %p
      %a.btn.btn-danger.btn-large(href="/kitap/101") Kitabı Okuyun	
  %div.span4
    %h2 Bize Tercümede Yardım Edin
%br
%br
%div.row
  %div.span4
    %h2 Green Shoes Kitabı
    %img(src="/gshoes-icon.png")
    %p 
      Bu bölümde Ruby GUI Toolkit'i olan Shoes'un gem çeşidi olan 
      %b Green Shoes 
      manuali tercümesini bulacaksınız
    %p
      %a.btn.btn-danger.btn-large(href="/kitap/201") Kitabı Okuyun	
  %div.span4
    %h2 Öneriniz?
  %div.span4
    %h2 Öneriniz?


%hr

#disqus_thread
%script(type="text/javascript" async="true" src="http://ruby-tr.disqus.com/embed.js")
  
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
