body {
	padding-top: 60px;
	padding-bottom. 40px;
}

.footer {
	text-align: center;
}

.nav li {
	padding-top: 5px;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.leaderboard {
	padding: 60px;
	margin-bottom: 30px;
	background-image: url('./images/gridbg.gif');
	background-repeat: repeat;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.leaderboard h1 {
	font-size: 40px;
	margin-bottom: 5px;
	line-height: 1;
	letter-spacing: -1px;
	color: #ff6600;
}

.leaderboard p {
	font-size: 18px;
	font-weight: 200;
	line-height: 27px;
}

.orta {
	text-align: center;
}

.sag {
	text-align: right;
}

.sol-side {
	position: absolute;
	left: 10px;
	width: 180px;
}